#version=RHEL9

# Installation source
cdrom

# Installation mode
text
eula --agreed

# Language and keyboard
lang en_GB.UTF-8
keyboard --vckeymap=gb --xlayouts='gb'

# Timezone
timezone Europe/London --utc

# Network
network --bootproto=dhcp --device=link --activate
network --hostname=alma9.local

# Security
selinux --enforcing
firewall --enabled --service=ssh
services --enabled=sshd

# Authentication Set Root password and add user
rootpw --iscrypted <Generate with openssl passwd -6 'PASSWORD`>
user --name=localadmin --password=<Generate with openssl passwd -6 'PASSWORD`>

# Reboot after installation
reboot

# Disk configuration
zerombr
clearpart --all --initlabel

# UEFI boot partitions
part /boot/efi --fstype=efi --size=600
part /boot     --fstype=xfs --size=5120

# Swap
part swap      --size=8192

# Root filesystem
part /         --fstype=xfs --size=51200

# Variable data
part /var      --fstype=xfs --size=51200

# Homedirs data (remaining space)
part /home  --fstype=xfs --grow --size=1024

# Install GRUB to EFI System Partition
bootloader --location=boot

# Package selection
%packages
@minimal-environment
vim-enhanced
tmux
wget
curl
lsof
bash-completion
# Storage / SAN / multipath
device-mapper-multipath
sg3_utils
lsscsi
fcoe-utils

# Hardware + diagnostics (very useful on Dell)
smartmontools
nvme-cli
hdparm

# System monitoring basics
sysstat
iotop

# Optional but often useful on servers
chrony
%end

# Post-install configuration
%post --log=/root/ks-post.log
systemctl enable multipathd
cat > /etc/multipath.conf <<'EOF'
defaults {
    user_friendly_names yes
    find_multipaths yes
}
EOF

systemctl enable multipathd
%end

# Ensure wheel group has sudo access
cat >/etc/sudoers.d/wheel <<'EOF'
%wheel ALL=(ALL) ALL
EOF

chmod 440 /etc/sudoers.d/wheel

%end
